/* General Body */
body {
  background-color: white; /* Light beige for the overall background */
  color: #333; /* Dark grey text for general readability */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
  background: linear-gradient(to bottom,white);
}

.home-page {
  .why-adopt {
    padding: 50px 0;
    margin-top: 0;
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  } /* General Styles for Cuter Look */
}

/* General furever Section */
.section {
  margin-bottom: 0; /* Remove any bottom margin */
  padding-bottom: 40px; /* Adjust padding to ensure space between content and bottom */
  font-family: 'Montserrat', sans-serif; /* Modern, clean font */
  background-color: #ffffff; /* Light neutral background */
  padding: 60px 30px;
  border-radius: 8px; /* Soft, subtle corners */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05); /* Light shadow for depth */
  color: #323440;; /* Darker, elegant text color */
  text-align: center;
}

/* furever Section - Applying Gagalin to h1 */
section h2 {
  font-family: 'Roboto Slab', serif; /* Same font as the hero */
  font-weight: 700; /* Bold font weight */
  font-size: 2.5rem; /* Same font size as the hero */
  color: #323440; /* Use the same color as hero text */
  margin-bottom: 20px;
  text-transform: none; /* Ensure no uppercase transformation */
}

/* Ensure the rest of the section has consistent styling */
.section p {
  font-family: 'Montserrat', sans-serif; /* Montserrat font */
  font-size: 1.1rem;
  line-height: 1.8;
  color: #323440;
  margin-bottom: 30px;
  padding-right: 20px;
}

.hovereffect img {
  border-radius: 10px; /* Keep image styling consistent */
  display: block;
  transition: all 0.3s ease;
}

.hovereffect:hover img {
  transform: scale(1.05); /* Slight hover zoom effect */
}

/* Why Adopt Section */
#why-adopt {
  background-color: fbfbfb; /* Light gray background for Why Adopt section */
  padding: 50px 0; /* Add padding for spacing */
}
