<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbo-track': 'reload' %>

 <style>
.furever-button {
    margin-top: 5px;
    font-size: 0.8rem;
    background-color: #323440;
  }

  .furever-button:hover {
    background-color: #fdcd07;
    color: #323440
  }
  </style>