.card {
  margin: 20px 0;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.10);
  border-color: rgb(228, 156, 62);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}

.card:hover img {
  -webkit-mask:linear-gradient(-60deg,#464646 50%,rgba(48, 48, 48, 0.333),#a8a8a8 70%) right/360% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1.3s ease-out;
  overflow: hidden;
  padding:10px;
  padding-bottom:4px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center
}
  
.card-title {
    color: rgb(68, 57, 41);
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
    color: black;
  }

  .btn {
    background-color: #c5a880;
    border-color: rgb(207, 207, 207);
    color: white;
    &:hover {
      background-color: #867153;
      color: white;
      border-color: white;
      transition: 0.3s ease;
  }
  }

  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }