/* Hero Section */
.hero-section {
  background-image: url('app/assets/images/Hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw * 9 / 16); /* Maintain 16:9 aspect ratio */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensure content starts from the left */
  padding: 25px;
  font-family: 'Roboto Slab', serif; /* Use Roboto Slab font */
  color: #323440;
  position: relative;
}

.hero-content {
  max-width: 45%; /* Constrain content to the right half */
  text-align: left; /* Left-align the text */
  margin-left: auto; /* Push content towards the right */
  padding-right: 5%; /* Add spacing from the right side */
  z-index: 2; /* Ensure content is above the background overlay */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* No background shadow */
  z-index: 1;
}

.hero-section h1, .hero-section p, .stylish-button {
  font-weight: 400;
  position: relative;
}

.hero-section h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-family: 'Montserrat', sans-serif; /* Montserrat font */
  font-size: 1.2rem;
  line-height: 1.8;
  color: #323440;
  margin-bottom: 30px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .hero-content {
    max-width: 100%; /* Full width on mobile */
    margin-left: 0; /* Center content */
    padding-right: 0;
    text-align: center; /* Center-align text on mobile */
  }

  .hero-section {
    height: 50vh; /* Adjust height for mobile */
  }
}
