.navbar-lewagon {
  justify-content: space-between;
  /* background: white; */
  background-color: #e5eeff; /* light blue navbar */
  color: #333; /* Dark grey for text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for separation */
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.dropdown-menu {
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  left: auto;
  right: 0;
  max-width: auto;
  overflow: hidden;
  height: 0;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.dropdown-menu.show {
  display: block;
}
