body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

h2 {
  font-size: 2rem;
  color: #666;
}

p {
  font-size: 1rem;
  color: #777;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #666;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Add these rules to ensure all images are the same size */
img {
  width: 100%;
  height: auto;
  max-width: 350px; /* Set a max-width for the images */
  max-height: 200px; /* Set a max-height for the images */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}
