body {
  background-color: #f8f9fa;
  color: #343a40;
  margin-top: 100px;
}

nav {
  margin-bottom: 2rem;
}

.navbar {
  background-color: #f8f9fa;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand, .nav-link {
  color: #343a40;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ffc107 !important;
}

.container {
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
  background-color: #f1c40f;
  transform: scale(1.2);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #6f42c1;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.footer {
  background-color: #f8f9fa; /* Matches the navbar and body background */
  padding: 1rem 0;
  bottom: 0;
  width: 100%; /* Full width of the parent element */
  left: 0; /* Ensure it's aligned to the left */
  text-align: center; /* Center the text */
  margin-top: 50px;
}


.footer .text-muted {
  color: #6c757d; /* Muted text color */
  margin: 0.5rem 0; /* Space between lines */
}

.footer a {
  color: #343a40; /* Link color */
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  color: #ffc107; /* Hover color for links */
}
