/* Import all component CSS files */
@import url('components/_about.css');
@import url('components/_cards.css');
@import url('components/_footer.css');
@import url('components/_hero.css');
@import url('components/_navbar.css');
@import url('components/_button.css');
@import url('pages/_home.css');

html, body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  .footer {
    padding: 25px 0;
  }
