/* Import all component CSS files */
@import url('components/_about.css');
@import url('components/_cards.css');
@import url('components/_footer.css');
@import url('components/_hero.css');
@import url('components/_navbar.css');
@import url('components/_button.css');
@import url('components/_showpage.css');
@import url('pages/_home.css');




  .footer {
    padding: 25px 10px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .edit-btn {
    background-color: #323440;
    border-color: rgb(207, 207, 207);
    color: white;
    &:hover {
      background-color: #FDCD07;
      color: white;
      border-color: white;
      transition: 0.3s ease;
  }}

#index-title {
  font-size: 3rem;
  color: #333;
}


.btn {
    cursor: url(https://www.zingerbug.com/cursors/cursors/paws1.gif), progress !important;
}

.card-link:hover{
    cursor: url(https://www.zingerbug.com/cursors/cursors/paws1.gif), progress !important;
}
