<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbo-track': 'reload' %>
